<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - LinkHub</title>
    <link href="~/Content/Site.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <script src="~/Scripts/modernizr-2.6.2.js"></script>
</head>
<body>
    <div class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("LinkHub", "Index", "Home", new { area = "Common" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Home", "Index", "Home", new { area = "Common" }, new { @class = "" })</li>
                    <li>@Html.ActionLink("Register", "Index", "Register", new { area = "Security" }, new { @class = "" })</li>
                    <li>@Html.ActionLink("Browse URLs", "Index", "BrowseURLs", new { area = "Common" }, new { @class = "" })</li>
                    <li>@Html.ActionLink("Quick URL Submit", "Index", "QuickURLSubmit", new { area = "Common" }, new { @class = "" })</li>
                    @if (User.Identity.IsAuthenticated)
                    {
                        if (User.IsInRole("A"))
                        {
                        <li>@Html.ActionLink("Category", "Index", "Category", new { area = "Admin" }, new { @class = "" })</li>
                        <li>@Html.ActionLink("List Categories", "Index", "ListCategory", new { area = "Admin" }, new { @class = "" })</li>

                        <li>@Html.ActionLink("Approve", "Index", "ApproveURLs", new { area = "Admin" }, new { @class = "" })</li>
                        <li>@Html.ActionLink("List User", "Index", "ListUser", new { area = "Admin" }, new { @class = "" })</li>
                        }
                        if (User.IsInRole("A") || User.IsInRole("U"))
                        {
                        <li>@Html.ActionLink("Submit URL", "Index", "URL", new { area = "User" }, new { @class = "" })</li>
                        <li>@Html.ActionLink("Logout", "SignOut", "Login", new { area = "Security" }, new { @class = "" })</li>
                        }
                    }
                    else
                    {
                        <li>@Html.ActionLink("Login", "Index", "Login", new { area = "Security" }, new { @class = "" })</li>

                    }

                </ul>
            </div>
        </div>
    </div>

    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <blockquote class="blockquote-reverse">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>
                <small>Someone famous in <cite title="Source Title">Source Title</cite></small>
            </blockquote>
            <p>&copy; @DateTime.Now.Year - LinkHub</p>
        </footer>
    </div>

    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
</body>
</html>