@model IEnumerable<LinkHubBOL.tbl_User>

@{
    ViewBag.Title = "List Users";
}

<table class="table table-hover table-striped">
    <tr class="info">
        <th>
            @Html.ActionLink("EMail", "Index", new { SortOrder = (ViewBag.SortOrder == null ? "Asc" : (ViewBag.SortOrder == "Asc" ? "Desc" : "Asc")), SortBy = "UserEmail" })
        </th>
        <th>
            @Html.ActionLink("Role", "Index", new { SortOrder = (ViewBag.SortOrder == null ? "Asc" : (ViewBag.SortOrder == "Asc" ? "Desc" : "Asc")), SortBy = "Role" })
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.UserEmail)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Role)
        </td>
    </tr>
}

</table>

@{
    double TotalPages = @ViewBag.TotalPages;
}
<ul class="pagination">
    @for (int i = 1; i <= TotalPages; i++)
    {
        if (i == ViewBag.Page)
        {
            <li class="active"> @Html.ActionLink(i.ToString() + " ", "Index", new { SortOrder = (ViewBag.SortOrder == null ? "Asc" : ViewBag.SortOrder), SortBy = (ViewBag.OrderBy == null ? "Title" : ViewBag.OrderBy), Page = i })</li>
        }
        else
        {
            <li> @Html.ActionLink(i.ToString() + " ", "Index", new { SortOrder = (ViewBag.SortOrder == null ? "Asc" : ViewBag.SortOrder), SortBy = (ViewBag.OrderBy == null ? "Title" : ViewBag.OrderBy), Page = i })</li>
        }
    }
</ul>
